<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Angular JS</title>
</head>
<body>
<h1>EXERCÍCIOS</h1>

<app-beecrowd></app-beecrowd>
<app-parent-data [name]="userName" [userData]="userData"></app-parent-data>
<app-exercicio-cm [namePlayer]="userPlayer" [estatisticas]="estatisticas" [clube]="clube"></app-exercicio-cm>
<app-exercicio-pkm [pokemon]="dadospokemon"></app-exercicio-pkm>
<app-exercicio-animon [animon]="dadosAnimon"></app-exercicio-animon>

</body>
</html>
